body{
    font-family: Poppins;
    transition: margin-left .5s; 
    margin: 0%;
    
}
.top-area{
    background-image: url(assets/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 200px;
    font-weight: 100;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    color: white;
    font-weight: 100;
}
span{
    color: white;
    float: left;
    margin-left: 2%;
    font-size: 45px;
  }
  span:hover{
    transform-style: preserve-3d;
  }
  span:after {
    top: -100%;
    left: 0px;
    width: 100%;
    position: absolute;
    background: #ff7a59;
    border-radius: 5px;
    content: 'Home';
    transform-origin: left bottom;
    transform: rotateX(90deg);
  }
  span:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
  }


.meals{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
    padding-bottom: 20px;
}
#lunch:hover{
    opacity: 0.5;
}

#breakfast:hover{
    opacity: 0.5;
}
#dinner:hover{
    opacity: 0.5;
}
#time:hover{
    opacity: 0.5;
}
#hour:hover{
    opacity: 0.5;
}

#happymain{
    background-color: white;
    background-size: cover;
    width: 25%;
    padding-bottom: 100px;
    
    
}
#happymain h2{
    text-align: center;
    padding-b;
    border: none;
}
#happy{
    color: black;
    height: 50x;

}
#party{
    height: 50px;
}
table{
    color: black;
}
#hour{
    background-color: #e4e5e7;
}
#time{
    background-color: #f25c2a;
    width: 26%;
    height: 100%;
    color: #fff;
}
#party{
    background-color: #f25c2a;
    background-size: 30px;
}

#breakfast{
    background-image: url(assets/foodtop/breakfast.jpg);
    background-size: cover;
    width: 25%;
}
#lunch{
    background-image: url(assets/backgrounds/foodsBg.jpg);
    width: 25%;
}
#dinner{
    background-image: url(assets/foodtop/dinner.jpg);
    background-size: cover;
    width: 25%;
}
#products{
    background-color: white;
    display: flex;
    padding-top: 30px;

}
.fastfood{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
    margin-left: 15%;
}
#fastfoodtxt{
    padding-left: 30px;
    
    
}

#fastimg{
    border: white solid 20px;
    box-shadow: 5px 5px 5px 5px grey;

}
#fastfood img{
    margin: 0;
}
.drinks{
    display: flex;
    align-items:center;
    width: 70%;
    margin-left: 15%;
    margin-left: 15%;
}
#drinkstxt{
    width: 40%;
    text-align: right;
    margin: 20px;
}
/* Switcher Class*/
.switcher {
    background-image: url(assets/backgrounds/foodsBg.jpg);
    width: 80%;
    margin: 0 auto;
    padding: 5em 6em;
}

.switcher-container {
    background-color: #fff;
    
}

.switcher-list {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #999;
}

.switcher-list-item1 {
    background: #fff;
    padding-top: 1em;
    padding-left: 7em;
    padding-right: 7em;
    color: #f25c2a;
    font-weight: bold;
}

.switcher-list-item {
    border-right: .8px solid #111;
    padding-right: 6em;
}

.switcher-images {
   text-align: center;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 1.5em;
   margin-left: 4em;
   margin-right: 4em;
}

.food-image1 p{
    color: #f25c2a;
    font-weight: bold;
   
}

/* Class switcher*/
.feedback{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}
.custimg{
    
    justify-content: space-around;
    padding-bottom: 10px;
    color: #f25c2a;
    font-size: 50px;
}

#customer {
    width: 32%;
    text-align: center;
    
}
#abtmenu{
    width: 25%;
    text-align: center;
    
    padding: 10px;
}
.feedback h2{
    color: #f25d2a;
}
.button1:hover{
    background-color: #f25c2a;
    border: none;
    color: white;
}
.button1 {
    background-color: white;
    border:2px solid #f25d2a;
    padding: 6px;
    border-radius: 8px;
    font-size: 24px;
    color: #f25d2a;
}
.subscribe{
    background-image: url(assets/backgrounds/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;

}
input{
    padding: 20px;
    background-color: white;
    color:black;
    font-size: 20px;
    width: 400px;
    border-radius: 8px;
    opacity: 0.5;

}
.button2{
    background-color: #f25d2a;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px 25px 15px 25px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
.footer{
    background-color: #f25d2a;
    padding-top: 100px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#logo{
    
    font-size: 45px;
}

#copyright{
    font-size: 15px;
    text-align: center;
}
#customer{
    border-right: solid grey 2px;
    width: 50%;
    
}
.socials img{
    
}
