body{
    font-family: Poppins;
    transition: margin-left .5s; 
    padding: 20px;
    
}
.top-area{
    background-image: url(assets/backgrounds/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 100px;
    font-weight: 100;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
}
.meals{
    display: flex;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    font-style: italic;
}
#lunch:hover{
    opacity: 0.5;
}

#breakfast:hover{
    opacity: 0.5;
}
#dinner:hover{
    opacity: 0.5;
}


#happymain{
    background-color: white;
    background-size: cover;
    width: 25%;
    
}
#happymain h2{
    text-align: center;
}
#happy{
    color: black;
}
#party{
    background-color: #f25c2a;
}

#breakfast{
    background-image: url(assets/foodtop/breakfast.jpg);
    background-size: cover;
    width: 25%;
}
#lunch{
    background-image: url(assets/backgrounds/foodsBg.jpg);
    width: 25%;
}
#dinner{
    background-image: url(assets/foodtop/dinner.jpg);
    background-size: cover;
    width: 25%;
}
#products{
    background-color: white;
    display: flex;
    padding-top: 30px;

}
.fastfood{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    width: 70%;
    margin-left: 15%;
    margin-left: 15%;
}
#fastfoodtxt{
    padding-left: 30px;
    
    
}

#fastfoodimg{
    margin: 0px;
    box-shadow: 5px 5px 5px red;
}
#fastfood img{
    margin: 0;
}
.drinks{
    display: flex;
    align-items:center;
    width: 70%;
    margin-left: 15%;
    margin-left: 15%;
}
#drinkstxt{
    width: 40%;
    text-align: right;
    margin: 20px;
}

.switcher{
    background-image: url(assets/backgrounds/foodsBg.jpg);
    text-align: center;
    color: white;
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
#switcher1{
    position: absolute;
width: 1105px;
height: 378px;
left: 158px;
top: 201px;
}
/* Till i add products css here*/
.feedback{
    display: flex;
    justify-content: space-around;
    margin: 40px;
    box-shadow: 5px 5px 5px 5px grey;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}

#customer {
    width: 32%;
    text-align: center;
    
}
#abtmenu{
    width: 25%;
    text-align: center;
    
    padding: 10px;
}
.feedback h2{
    color: #f25d2a;
}
.button1 {
    background-color: white;
    border:2px solid #f25d2a;
    padding: 6px;
    border-radius: 8px;
    font-size: 24px;
    color: #f25d2a;
}
.subscribe{
    background-image: url(assets/backgrounds/subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;

}
input{
    padding: 20px;
    background-color: white;
    color:black;
    font-size: 20px;
    width: 400px;
    border-radius: 8px;
    opacity: 0.5;

}
.button2{
    background-color: #f25d2a;
    border-radius: 8px;
    font-size: 24px;
    padding: 15px 25px 15px 25px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    
}
.footer{
    background-color: #f25d2a;
    padding-top: 100px;
    color: white;
    font-size: 20px;
    text-align: center;
}
#logo{
    
    font-size: 45px;
}

#copyright{
    font-size: 15px;
    text-align: center;
}